.create-account{
    width:500px;
    margin:30px auto;
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0 2px 10px rgba(0,0,0,.1);
}

.create-account h2{
    text-align:center;
    margin-bottom:20px;
}

.create-account form{
    display:flex;
    flex-direction:column;
}

.create-account input,
.create-account select{
    margin-bottom:15px;
    padding:10px;
    border:1px solid #ccc;
    border-radius:6px;
}

.create-account button{
    background:#2563eb;
    color:white;
    border:none;
    padding:12px;
    border-radius:6px;
    cursor:pointer;
}

.create-account button:hover{
    background:#1d4ed8;
}