.navbar{
    height:65px;
    background:#1E3A8A;
    color:white;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 30px;

    box-shadow:0 2px 8px rgba(0,0,0,.2);
}

.logo{
    font-size:26px;
    font-weight:bold;
}

.nav-right{
    display:flex;
    align-items:center;
    gap:20px;
    font-size:22px;
}

.nav-icon{
    cursor:pointer;
}

.profile-icon{
    font-size:34px;
}